@page "/"
@using UserApp_SingnalR.Shared.DTOs.Users
@rendermode InteractiveServer
@inject IUserApiService userApiService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn" @onclick="CreateAsync">Create User </button>

@code {

	private async Task CreateAsync(){

		var user = new UserCreateModel
			{
				Name = "hd",
				UserName = "Javohir",
				Email = "Javohir@gmail.com",
				Password ="Javohir@36"
			};

		await userApiService.CreateAsync(user);
	}
}
